{% if google_pixel_id %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ google_pixel_id }}" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}

{% if facebook_pixel_id %}
<!-- Facebook Pixel Code (noscript) -->
<noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id={{ facebook_pixel_id }}&ev=PageView&noscript=1" /></noscript>
<!-- End Facebook Pixel Code (noscript) -->
{% endif %}