{% extends "email/base_email.html" %}

{% block content %}
<h2>Дякуємо за вашу заявку на курс!</h2>

<p>Шановний(а) {{ name }},</p>

<p>Ми отримали вашу заявку на курс "Нейро-старт в IT" і дуже раді вашому інтересу до навчання!</p>

<p>Наш менеджер зв'яжеться з вами найближчим часом для уточнення деталей та відповіді на ваші запитання.</p>

<p>Якщо у вас виникнуть додаткові питання до нашого звʼязку, ви можете:</p>
<ul>
    <li>Написати нам на email: {{ contact_email }}</li>
    <li>Звʼязатися через Telegram: @prometeylabs</li>
</ul>

<p>З повагою,<br>
    Команда Prometey Labs</p>
{% endblock %}